# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.



# === General ===

PORT = 3000
NODE_ENV=DEV

# === Email ===

EMAIL=""
EMAIL_PASSWORD=""

# === KEY API ===

SECURE_KEY= ""
API_KEY=""

# === Database ===

KEY_ENCRYPT_FIREBASE=""